<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>denbatcave.inin.com/autoreleasenotes</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://denbatcave.inin.com</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/AutoReleaseNotes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>i3domain\stephen.weaver</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=denbatcave.inin.com;Initial Catalog=github_release_notes_production;User ID=sa;Password=st4rw4rs!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="bootstrap_git_auto_notes.Models.UsersContext, bootstrap_git_auto_notes" MigrationConfiguration="bootstrap_git_auto_notes.Migrations.Configuration, bootstrap_git_auto_notes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=denbatcave.inin.com;Initial Catalog=github_release_notes_production;User ID=sa;Password=st4rw4rs!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>