@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Authorized";
}

<hgroup class="title">
    <h1 class="error">Unauthorized.</h1>
    <h2 class="error">You are not a memeber on this organizations github account</h2>
</hgroup>
